*{
 box-sizing: border-box;
}
header{
 display: flex;
 position: relative;
 flex-direction: row;
 justify-content: space-evenly;
 background-color: beige;
 height: 60px;
}

.nav-btn{
 font-family: 'Courier New', Courier, monospace;
 font-weight: 400;
 text-decoration: white;
 font-style: normal;
 padding-top: 15px;
 gap: 10px;
}


.first-page-content{
 max-height: 1000px;
 background-color: blue;
 position: relative;
 display: grid;
 grid-template-columns: 1fr 1fr;
 justify-content: center;
 padding-top: 3px;
 gap: 30%;
 
}

img{
 width: 300px;
 margin-left: 330px;
 margin-top: 150px;
 
}

.name{
 padding-top: 250px;
 
}